<link href="https://fonts.googleapis.com/css?family=Amita" rel="stylesheet">body {
    padding: 0px;
    margin: 0px;
    color: #254e7b;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-family: 'Orbitrn';
    background-color: #B2D6E8;
}




/*Header Styling Starts from here*/

header {
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #254e7b;
    position: fixed;
    width: 100%;
    top: 0px;
    overflow: hidden;
    background-color: #85c1e5;
    color: #254e7b;
}

h1 {
    display: inline-block;
    margin: 0px;
    margin-left: 5%;
}

.intro,
.p {
    text-align: center;
}

.hr-style {
    width: 80%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #254e7b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #254e7b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #254e7b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #254e7b, #f0f0f0);
    margin-bottom: 20px;
}

footer p {
    font-family: 'Amita', cursive;
    font-size: 28px;
}

span {
    font-family: 'Amita', cursive;
}




/*Navigation Coding starts from here*/

nav {
    /*border: 2px solid black;*/
    width: 25%;
    padding: 10px;
    float: right;
    margin-right: 8%;
    display: inline-block;
    font-size: 20px;
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: #254e7b;
}

nav a:hover {
    color: white;
}

nav .active {
    background-color: #254e7b;
    color: white;
}




/*Navigation coding Ends here*/


/*Header Styling Ends here*/


/*Container Styling Starts from here*/

#container {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

#intro,
#skills,
footer {
    text-align: center;
    font-size: 25px;
}

#intro p {
    text-align: justify;
    font-family: 'Amita', cursive;
    font-size: 28px;
}

#container #intro {
    background: url(https://st.depositphotos.com/1011596/4441/i/950/depositphotos_44417611-stock-photo-blue-marble-texture-light-pattern.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.images img {
    width: 15%;
    height: 15%;
    padding: 60px;
}

footer h1 {
    font-size: 1.5em;
}

footer img {
    width: 3%;
    height: 3%;
    vertical-align: middle;
    margin-right: 20px;
}

.image-box {
    width: 20%;
    height: 300px;
    float: left;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.image-box img {
    width: 70%;
    height: 70%;
    padding-bottom: 0px;
}

.ux .image-box {
    width: 30%;
    height: 300px;
    padding: 30px;
}

/*Container Styling Ends here*/